@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&family=Open+Sans&display=swap');

*{
    margin: 0;
    padding: 0;
}

.judul h1{
    font-family: 'Lexend Deca', sans-serif;
    color: rgb(0, 0, 0);
    font-size: 30px;
    font-weight: normal;
    font-style: normal;
    margin-bottom: 25px;
}

.visi {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.visi h2{
    font-family: 'Lexend Deca', sans-serif;
    color: rgb(0, 0, 0);
    margin-left: 11px;
    margin-top: 7px;
    font-size: 30px;
    font-weight: normal;
    font-style: normal;
}

.visi p{
    font-family: 'Lexend Deca', sans-serif;
    color: rgb(0, 0, 0);
    margin-left: 11px;
    margin-top: 7px;
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    margin-left: 10%;
    margin-right: 10%;
}

.misi {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.misi h2{
    font-family: 'Lexend Deca', sans-serif;
    color: rgb(0, 0, 0);
    margin-left: 11px;
    margin-top: 7px;
    font-size: 30px;
    font-weight: normal;
    font-style: normal;
    text-align: center;
}

.misi li{
    font-family: 'Lexend Deca', sans-serif;
    color: rgb(0, 0, 0);
    margin-left: 11px;
    margin-top: 7px;
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    margin-left: 10%;
    margin-right: 10%;

}